In [54]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [3]:
datos  =[ 2, 3, 5, 7, 11 ]

serie= pd.Series(datos)

In [4]:
serie

0     2
1     3
2     5
3     7
4    11
dtype: int64

In [5]:
serie.size

5

In [7]:
serie.describe()

count     5.000000
mean      5.600000
std       3.577709
min       2.000000
25%       3.000000
50%       5.000000
75%       7.000000
max      11.000000
dtype: float64

EJERCICIO 3

CONVERTIR UN OBJETO SERIES EN UNA LISTA PYTHON

In [8]:
datos= [ 2,3,5,7,11 ]

serie = pd.Series(datos)

In [9]:
type(datos)

list

In [10]:
type(serie)

pandas.core.series.Series

In [11]:
lista= serie.tolist()

In [12]:
type(lista)

list

In [13]:
lista

[2, 3, 5, 7, 11]

In [2]:
pd.DataFrame({"Bob": ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']}, 
              index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [5]:

naranjas= pd.Series([4,9,2,6,10,200])
print(naranjas)

0      4
1      9
2      2
3      6
4     10
5    200
dtype: int64

In [7]:
manzanas= pd.Series( [ 60,22,1, 79,2,8 ] )
print(manzanas)

0    60
1    22
2     1
3    79
4     2
5     8
dtype: int64

In [10]:
colores= pd.Series(["rojo", "azul", "amarillo", "verde", "morado"])
print(colores)

0        rojo
1        azul
2    amarillo
3       verde
4      morado
dtype: object

In [12]:
materias= pd.Series({ "Matematicas": 60, "Fisica": 100, "Quimica": 78})
print(materias)

Matematicas     60
Fisica         100
Quimica         78
dtype: int64

In [17]:
colores[1:3]

1        azul
2    amarillo
dtype: object

In [20]:
materias [["Fisica", "Quimica"]]

Fisica     100
Quimica     78
dtype: int64

In [21]:
numeros= [1,2,3,4,5,6,7,8,9]
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
mumeros*2

NameError: name 'mumeros' is not defined

In [23]:
numeros= pd.Series([1,2,3,4,5,6,7,8,9])

In [28]:
numeros.describe()

count    9.000000
mean     5.000000
std      2.738613
min      1.000000
25%      3.000000
50%      5.000000
75%      7.000000
max      9.000000
dtype: float64

In [29]:
serie = pd.Series({"Matematicas":8, "Economia": 6, "Programacion" : 10, "Fisica" :5})

In [30]:
print (serie[serie>6])

Matematicas      8
Programacion    10
dtype: int64

In [33]:
print (serie.sort_index(ascending=False))

Programacion    10
Matematicas      8
Fisica           5
Economia         6
dtype: int64

In [38]:
data_list = ["Messi", "Cristiano", "Neimar Jr"]

In [40]:
indices= ["Argentina", "Portugal", "Brasil"]

In [42]:
cracs= pd.Series(index=indices, data= data_list)
print(cracs)

Argentina        Messi
Portugal     Cristiano
Brasil       Neimar Jr
dtype: object

In [43]:
data= {"NOMBRE": ["Maria", "Jose", "David", "Ivan"], 
       "CARRERA": ["Ing. Sistemas", "Ing. Civil", "Ing. Mecanica", "Ing. Electronica"],
       "CORREO": ["maria@gmail.com", "jose@gmail.com", "david@gmail.com", "ivan@gmail.com"]}

In [44]:
estudiantes= pd. DataFrame(data)

In [45]:
print (estudiantes)

  NOMBRE           CARRERA           CORREO
0  Maria     Ing. Sistemas  maria@gmail.com
1   Jose        Ing. Civil   jose@gmail.com
2  David     Ing. Mecanica  david@gmail.com
3   Ivan  Ing. Electronica   ivan@gmail.com

In [47]:
df= pd.DataFrame([["Maria", 27], ["David", 34], ["Ana", 18], ["Jose",17]], 
columns= ["NOMBRE", "EDAD"])

In [48]:
print(df)

  NOMBRE  EDAD
0  Maria    27
1  David    34
2    Ana    18
3   Jose    17

In [49]:
import numpy as np

In [50]:
df= pd.DataFrame(np.random.randn(4,3), columns= ["A", "B", "C"])

In [51]:
print(df)

          A         B         C
0  0.374067 -1.001239  0.641558
1 -0.911801  0.108523 -0.767021
2  3.158194 -0.483140  0.683178
3 -0.921086  0.434708  0.564001