In [3]:
for i in range ( 10 ) :
    print( "Hello" )

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [7]:
for i in range (3) :
    num= eval(input("Enter a number: "))
    print("The Square of the number", num,  "is:", num*num)
print ("The loop is now done.")

The Square of the number 8 is: 64
The Square of the number 2 is: 4
The Square of the number 9 is: 81
The loop is now done.

In [8]:
print ("A")
print ("B")
for i in range (5):
    print ("C")
    print ("D")
print ("E")

A
B
C
D
C
D
C
D
C
D
C
D
E

In [9]:
print ("A")
print ("B")
for i in range (5):
    print ("C")
for i in range (5):   
    print ("D")
print ("E")

A
B
C
C
C
C
C
D
D
D
D
D
E

In [11]:
for i in range (20):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [13]:
for i in range (3): 
    print (i+1 , "---Hello")

1 ---Hello
2 ---Hello
3 ---Hello

In [17]:
for i in range (100):
    print (i+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [28]:
for i in range (5,0,-1):
    print (i, end= " ")
print ("Blast off!!!")

5 4 3 2 1 Blast off!!!

In [33]:
for i in range (4):
    print (" * " *6 )

 *  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *

In [37]:
for i in range (6):
    print (" * " * (i+1))

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *

In [40]:
for i in range (100):
    print ( i+1, "CarmenLu")

1 CarmenLu
2 CarmenLu
3 CarmenLu
4 CarmenLu
5 CarmenLu
6 CarmenLu
7 CarmenLu
8 CarmenLu
9 CarmenLu
10 CarmenLu
11 CarmenLu
12 CarmenLu
13 CarmenLu
14 CarmenLu
15 CarmenLu
16 CarmenLu
17 CarmenLu
18 CarmenLu
19 CarmenLu
20 CarmenLu
21 CarmenLu
22 CarmenLu
23 CarmenLu
24 CarmenLu
25 CarmenLu
26 CarmenLu
27 CarmenLu
28 CarmenLu
29 CarmenLu
30 CarmenLu
31 CarmenLu
32 CarmenLu
33 CarmenLu
34 CarmenLu
35 CarmenLu
36 CarmenLu
37 CarmenLu
38 CarmenLu
39 CarmenLu
40 CarmenLu
41 CarmenLu
42 CarmenLu
43 CarmenLu
44 CarmenLu
45 CarmenLu
46 CarmenLu
47 CarmenLu
48 CarmenLu
49 CarmenLu
50 CarmenLu
51 CarmenLu
52 CarmenLu
53 CarmenLu
54 CarmenLu
55 CarmenLu
56 CarmenLu
57 CarmenLu
58 CarmenLu
59 CarmenLu
60 CarmenLu
61 CarmenLu
62 CarmenLu
63 CarmenLu
64 CarmenLu
65 CarmenLu
66 CarmenLu
67 CarmenLu
68 CarmenLu
69 CarmenLu
70 CarmenLu
71 CarmenLu
72 CarmenLu
73 CarmenLu
74 CarmenLu
75 CarmenLu
76 CarmenLu
77 CarmenLu
78 CarmenLu
79 CarmenLu
80 CarmenLu
81 CarmenLu
82 CarmenLu
83 CarmenLu
84 CarmenLu
85 CarmenLu
86 CarmenLu
87 CarmenLu
88 CarmenLu
89 CarmenLu
90 CarmenLu
91 CarmenLu
92 CarmenLu
93 CarmenLu
94 CarmenLu
95 CarmenLu
96 CarmenLu
97 CarmenLu
98 CarmenLu
99 CarmenLu
100 CarmenLu

In [58]:
for i in range (20):
    print ("CarmenLu", end=" ")
for i in range (20):
    print ("CarmenLu "*20)

CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu
CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu CarmenLu

In [59]:
for i in range (100):
    print (i+1, "CarmenLu")

1 CarmenLu
2 CarmenLu
3 CarmenLu
4 CarmenLu
5 CarmenLu
6 CarmenLu
7 CarmenLu
8 CarmenLu
9 CarmenLu
10 CarmenLu
11 CarmenLu
12 CarmenLu
13 CarmenLu
14 CarmenLu
15 CarmenLu
16 CarmenLu
17 CarmenLu
18 CarmenLu
19 CarmenLu
20 CarmenLu
21 CarmenLu
22 CarmenLu
23 CarmenLu
24 CarmenLu
25 CarmenLu
26 CarmenLu
27 CarmenLu
28 CarmenLu
29 CarmenLu
30 CarmenLu
31 CarmenLu
32 CarmenLu
33 CarmenLu
34 CarmenLu
35 CarmenLu
36 CarmenLu
37 CarmenLu
38 CarmenLu
39 CarmenLu
40 CarmenLu
41 CarmenLu
42 CarmenLu
43 CarmenLu
44 CarmenLu
45 CarmenLu
46 CarmenLu
47 CarmenLu
48 CarmenLu
49 CarmenLu
50 CarmenLu
51 CarmenLu
52 CarmenLu
53 CarmenLu
54 CarmenLu
55 CarmenLu
56 CarmenLu
57 CarmenLu
58 CarmenLu
59 CarmenLu
60 CarmenLu
61 CarmenLu
62 CarmenLu
63 CarmenLu
64 CarmenLu
65 CarmenLu
66 CarmenLu
67 CarmenLu
68 CarmenLu
69 CarmenLu
70 CarmenLu
71 CarmenLu
72 CarmenLu
73 CarmenLu
74 CarmenLu
75 CarmenLu
76 CarmenLu
77 CarmenLu
78 CarmenLu
79 CarmenLu
80 CarmenLu
81 CarmenLu
82 CarmenLu
83 CarmenLu
84 CarmenLu
85 CarmenLu
86 CarmenLu
87 CarmenLu
88 CarmenLu
89 CarmenLu
90 CarmenLu
91 CarmenLu
92 CarmenLu
93 CarmenLu
94 CarmenLu
95 CarmenLu
96 CarmenLu
97 CarmenLu
98 CarmenLu
99 CarmenLu
100 CarmenLu

In [64]:
for i in range (20):
    print (i+1, "---", (i+1)*(i+1))

1 --- 1
2 --- 4
3 --- 9
4 --- 16
5 --- 25
6 --- 36
7 --- 49
8 --- 64
9 --- 81
10 --- 100
11 --- 121
12 --- 144
13 --- 169
14 --- 196
15 --- 225
16 --- 256
17 --- 289
18 --- 324
19 --- 361
20 --- 400

In [71]:
for i in range (8,90,3):
    print (i, end=", " )

8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89,

In [76]:
for i in range (100,1,-2):
    print (i, end=", " )

100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2,

In [80]:
for i in range (10):
    print ("A" , end = "")
for i in range (7):
    print ("B", end = "")
for i in range (4):
    print ("CD", end = "")
print ("E", end = "") 
for i in range (6):
    print ("F", end = "")    
print ("G")

AAAAAAAAAABBBBBBBCDCDCDCDEFFFFFFG

In [92]:
name= input ( "Enter your Name:") 
times= eval (input ( "Enter the number of times to print:"))
for i in range (times):         
    print (name)

carmen
carmen
carmen
carmen
carmen

In [104]:
Nums_to_Generate= eval (input("Enter the number of Fibonacci numbers to generate: "))
num1= 0
num2= 1
for i in range (Nums_to_Generate):
    print (num1, end= " ")
    num3= num1+num2
    num1= num2
    num2= num3

0 1 1 2 3 5 8 13 21 34

In [2]:
for var in range (5):
    print("Hola")

Hola
Hola
Hola
Hola
Hola

In [5]:
for value in range (5):
    print(value)

0
1
2
3
4

In [11]:
for value in range (1,11):
    print(f"El cuadrado de {value} es {value**2}")

El cuadrado de 1 es 1
El cuadrado de 2 es 4
El cuadrado de 3 es 9
El cuadrado de 4 es 16
El cuadrado de 5 es 25
El cuadrado de 6 es 36
El cuadrado de 7 es 49
El cuadrado de 8 es 64
El cuadrado de 9 es 81
El cuadrado de 10 es 100

In [12]:
for value in range (10, 0, -1):
    print(value)

10
9
8
7
6
5
4
3
2
1

In [15]:
#Condicionales
#operadores de comparacion
#== igualdad
#!= desigualdad
#> mayor que
#< menor que
#>= mayor o igual que
#<= menor o igual que
#is, is not, in, not in


day = "domingo"
if (day == "domingo"):
    print("tengo clases")

tengo clases

In [18]:
#ingreso por teclado

day = input("Dia de la semana: ")
#convertir minuscula
day = day.lower()  
 
print(day)

if (day == "domingo"):
    print("tengo clases")
else:
    print("no tengo clases")

domingo
tengo clases

In [25]:
# buscar pares del 1 al 10
for i in range(1, 11):
    if i % 2 == 0:
        print(i, "es par")

2 es par
4 es par
6 es par
8 es par
10 es par

In [26]:
day = input("Dia de la semana: ")
#convertir minuscula
day = day.lower()  
 
print(day)

if (day == "domingo"):
    print("tengo clases")

elif (day == "sabado"):
    print("es sabado")    

elif (day == "viernes"):
    print("es viernes")    
else:
    print("no es fin de semana")

lunes
no es fin de semana

### Listas
valores separados por comas, dentro de corchetes

In [27]:
list_1= ["monday", "tuesday", 1, 2, 0.8]

In [28]:
list_1

['monday', 'tuesday', 1, 2, 0.8]

In [30]:
list_1[2]

1

In [32]:
list_1 [-1]

0.8

In [33]:
names= ["jose", "maria", "carlos"]

In [38]:
#append
names.append ("guillermo")
names

['jose', 'maria', 'carlos', 'guillermo', 'guillermo', 'guillermo']

In [40]:
names_2= names.copy()
names_2

['jose', 'maria', 'carlos', 'guillermo', 'guillermo', 'guillermo']

In [41]:
#count
names_2.count ("maria")

1

In [43]:
names.index("guillermo")

3

In [46]:
names.pop(2)

'carlos'

In [47]:
names

['jose', 'maria', 'guillermo', 'guillermo']

In [54]:
#slices
names [:-2]

['jose', 'maria']

In [56]:
#guardar nros pares en una lista
pares_list= []
for number in range(1,11):
    if number % 2 == 0:
        pares_list.append(number)
pares_list

[2, 4, 6, 8, 10]

In [59]:
#guardar el cuadrado de nros inpares del 1 al 100 en una lista
impares_list= []
for number in range(1,101):
    if number % 2 != 0:
        impares_list.append(number**2)
impares_list

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401,
 2601,
 2809,
 3025,
 3249,
 3481,
 3721,
 3969,
 4225,
 4489,
 4761,
 5041,
 5329,
 5625,
 5929,
 6241,
 6561,
 6889,
 7225,
 7569,
 7921,
 8281,
 8649,
 9025,
 9409,
 9801]

In [60]:
len(names)

4

In [62]:
for value in range (len(names)):
    print(names[value])

jose
maria
guillermo
guillermo